@charset "UTF-8";
:root {
  --bg_main: #118ac1;
  --text_light: #fff;
  --text_med: #53627c;
  --text_dark: #1e2432;
  --red: #ff1e42;
  --darkred: #c3112d;
  --orange: #ff8c00; }

body {
  font: 1rem/1.3 "Roboto", sans-serif; }
  body .heading {
    font-weight: bold;
    font-size: 4rem;
    letter-spacing: 0.02em;
    padding: 0 0 30px 0; }
  body .top-section form input {
    font-size: 2rem;
    height: 40px; }
  body .top-section form button {
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.1em; }
  body .content-section .city-temp {
    font-size: 5rem;
    font-weight: bold; }
  body .content-section .city sup {
    font-size: 0.5em; }

@media screen and (max-width: 700px) {
  .heading, .content-section .city-temp {
    font-size: 3rem; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal; }

ul {
  list-style: none; }

body {
  background-color: var(--bg_main);
  color: var(--text_dark);
  padding: 70px;
  min-height: 100vh; }

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px; }

@media screen and (max-width: 1000px) {
  body {
    padding: 30px; }
  .content-section .cities {
    grid-template-columns: repeat(3, 1fr); } }

@media screen and (max-width: 700px) {
  .content-section {
    margin-top: 20px; }
  .top-section form {
    flex-direction: column;
    align-items: flex-start; }
  .top-section form input,
  .top-section form button {
    width: 100%; }
  .top-section form button {
    margin: 20px 0 0 0; }
  .top-section form .msg {
    position: static;
    max-width: none;
    min-height: 0;
    margin-top: 10px; }
  .content-section .cities {
    grid-template-columns: repeat(2, 1fr); } }

@media screen and (max-width: 500px) {
  body {
    padding: 15px; }
  .content-section .cities {
    grid-template-columns: repeat(1, 1fr); } }

/* SECTION #1
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.top-section {
  color: var(--text_light); }
  .top-section form {
    position: relative;
    display: flex;
    align-items: center; }
    .top-section form input {
      padding: 5px 5px 10px;
      border-bottom: 1px solid; }
    .top-section form input::placeholder {
      color: currentColor; }
    .top-section form button {
      padding: 15px 20px;
      margin-left: 15px;
      border-radius: 5px;
      background: var(--red);
      transition: background 0.3s ease-in-out; }
    .top-section form button:hover {
      background: var(--darkred); }
    .top-section form .msg {
      position: absolute;
      bottom: -40px;
      left: 0;
      max-width: 450px;
      min-height: 40px; }

/* SECTION #2
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.content-section {
  margin: 70px 0 20px; }
  .content-section .cities {
    display: grid;
    grid-gap: 32px 20px;
    grid-template-columns: repeat(4, 1fr); }
  .content-section .city {
    position: relative;
    padding: 40px 10%;
    border-radius: 20px;
    background: var(--text_light);
    color: var(--text_med); }
    .content-section .city::after {
      content: '';
      width: 90%;
      height: 50px;
      position: absolute;
      bottom: -12px;
      left: 5%;
      z-index: -1;
      opacity: 0.3;
      border-radius: 20px;
      background: var(--text_light); }
  .content-section figcaption {
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 0.05em; }
  .content-section .city-temp {
    margin-top: 10px;
    color: var(--text_dark); }
  .content-section .city-name sup {
    padding: 0.2em 0.6em;
    border-radius: 30px;
    color: var(--text_light);
    background: var(--orange); }
  .content-section .city-icon {
    margin-top: 10px;
    width: 100px;
    height: 100px; }

form button {
  cursor: pointer; }

form input {
  -webkit-appearance: none; }

form button,
form input {
  border: none;
  background: none;
  outline: none;
  color: inherit; }

/*# sourceMappingURL=main.css.map */